.pokemonArea {
    display: flex;
    flex-wrap: wrap;
    margin-top: 94px;
    justify-content: center;
    width: 100%;

    .pokemonImgArea {
        display: flex;
        justify-content: center;
        background-color: #22484d;
        border-radius: 15px;
        padding: 10px;
        width: 25%;
        margin-right: 20px;
        box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.2);

        img {
            width: 300px;
        }
    }

    .pokemonAreaSobre {
        padding: 10px;
        width: 70%;
        border-radius: 15px;
        background-color: #22484d;
        box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.2);

        h1{
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }
        
        .pokemonTipo{
            display: flex;
            justify-content: center;
            small {
                color: #ffffff;
                margin: 0 20px;
                text-transform: uppercase;
            }
        }
        
        .areaStats {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            color: #ffffff;
            
            .tituloStats {
                width: 250px;
                p{
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 20px;
                }
            }
        }
    }

    .pokemonSobre {
        background-color: #22484d;
        width: 96%;
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.2);
        
        .pokemonAbilities {
            
            h1{
                text-align: center;
                color: #ffffff;
            }
            ul{
                h3{
                    color: #000000;
                    text-transform: uppercase;
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
                p{
                    color: #ffffff;
                    font-size: 18px;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: 1920px) {
    .pokemonArea{
        .pokemonSobre{
            width: 96.5%;
            margin-top: 20px;
        }
    }
}

@media (max-width: 1280px) {
    .pokemonArea{
        .pokemonImgArea{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-right: 0;
            img{
                width: 280px;
            }
        }
        .pokemonAreaSobre {
            margin-top: 20px;
            width: 100%;
        }
        .pokemonSobre{
            width: 100%;
            margin-top: 20px;
        }
    }
}