.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 25px;
    
    .cardContent{
        display: grid;
        grid-column: 1;
        grid-row: 1;

        width: 400px;
        height: 207px;

        margin: 20px 15px;

        transition: transform 0.8s;
        transform-style: preserve-3d;

        .card{
            border-radius: 20px;
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    .paginationArea {
        display: flex;
    }
    .page{
        border: 1px solid #000000;
        margin: 20px 25px;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }
}