.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .flipCard{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        margin: 25px;

        background-color: transparent;
        width: 400px;
        height: 207px;
        perspective: 1000px;
    
        .flipCardInner{
            border-radius: 19px;
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            
            // padding: 15px 0;
    
            .flipCardFront{
                border-radius: 19px;

                background-color: #faebd7;
                color: black;
                img {
                    width: 15vh;
                    padding-top: 15px;
                }
                h2 {
                    text-align: center;
                    text-transform: uppercase;
                }
            }
            .flipCardBack {
                border-radius: 19px;

                background-color: #22484d;
                color: white;
                transform: rotateY(180deg);
    
                h2{
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 15px;
                    margin-bottom: 15px;
                    color: #ffffff;
                }
                .status{
                    display: flex;
                    align-items: center;
                    text-align: left;
    
                    padding-left: 15px;
                    padding-right: 15px;
    
                    .tituloStatus{
                        width: 35%;
                        text-transform: capitalize;
                        font-size: 1.8vh;
                        color: #ffffff;
                    }
                    .porcentageStatus{
                        font-size: 1.8vh;
                        margin-left: 10px;
                        color: #ffffff;
                    }
                }
            }
        }   
        .flipCardFront, .flipCardBack {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    
    }
}
.flipCard:hover .flipCardInner{
    transform: rotateY(180deg);
    cursor: pointer;
}

// ==========================

.pagination{
    display: flex;
    justify-content: center;
    .paginationArea {
        display: flex;
    }
    .page{
        margin: 20px 25px;
        cursor: pointer;
        // border: 1px solid #000000;
        background-color: #faebd7;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
        &:hover{
            opacity: 0.6;
        }
    }
}
